main{
	.max-width{
		.orders{
			padding: calculateRem(30px) 5%;
			nav{
				position: fixed;
				right: calculateRem(15px);
				top: calculateRem(15px);
				li{					
					width: calculateRem(30px);
					height: calculateRem(80px);
					padding: calculateRem(10px) 0;
					text-align: center;
					background: rgba($gray, 0.5);
					border: solid 1px rgba($gray, 0.5);
					cursor: pointer;
					line-height: calculateRem(30px);
					@include border-radius(calculateRem(15px));
					@include transition(0.3s, all, linear, 0s);
					+li{
						margin-top: 0.5rem;
					}
					a{
						color: white;
						i, span{
							display: block;
							width: calculateRem(30px);
							height: calculateRem(30px);
							text-align: center;
						}
					}
					&:hover{
						background: rgba(255, 255, 255, 0.5);
						a{
							color: $green;							
						}
					}
					&.active{
						border: solid 1px $green;
						background: rgba($green, 0.8);
						&:hover{
							background: rgba(255, 255, 255, 0.5);
							a{
								color: $green;							
							}
						}
					}
				}
			}

			.tab-pane{
				h1{
					padding: 0.25em 0;
					color: $green;
					border: solid 1px $green;
					text-align: center;
					@include font-size(14px);
				}

				.buyer{
					margin: 1em 0;
					background: white;
					box-shadow: 0 2px 4px 0 rgba(black, 0.1);
					.buyer_header{
						background: $green;
						color: white;
						padding: 1em;
						@include font-size(14px);
						a{
							display: inline-block;
							margin-left: 0.5em;
							color: white;
							@include font-size(12px);
						}
					}
					.buyer_main{
						.receiver{
							+.receiver{
								border-top: solid 1px $green;
							}							
							.receiver_header{
								position: relative;
								width: 100%;
								border-bottom: solid 1px rgba($gray, .5);
								.receiver_info{
									width: 70%;
									padding: 1em;
									@include font-size(12px);
									.name{
										font-weight: bold;
										margin-bottom: 0.25em;
										@include font-size(14px);
									}
								}
								.receiver_num{
									position: absolute;
									right: 0;
									top: 0;
									width: 30%;
									height: 100%;
									border-left: solid 1px rgba($gray, .5);
									@include font-size(14px);
									>div{
										width: 100%;
										height: 50%;
										text-align: center;
										vertical-align: middle;
										&:before{
											@include vertical-align-middle();
										}
										+div{
											border-top: solid 1px rgba($gray, .5);
										}
									}
								}
							}
							.receiver_main{
								width: 100%;
								.receiver_info{
									padding: 1em;
									padding-bottom: 0.5em;
									@include font-size(12px);
									.info{
										@include floatclear();
										+.info{
											margin-top: 1em;
										}
										.title{
											width: 4em;
											float: left;
											color: rgba($gray, .5);
											transform-origin: 0 50%;
											@include transform(scale(0.7));
										}
										.content{
											width: calc(100% - 4em - 0.01px);
											float: right;
											.gray{
												color: $gray;
											}
											.green{
												color: $green;
											}
											.red{
												color: $red;
											}
											button{
												margin-top: 0.5em;
												color: $green;
												border: solid 1px $green;
												padding: 0.25em 0;
												width: 100%;
											}
										}
									}
								}
								.receiver_action{
									padding: 1em;
									padding-top: 0.5em;
									button{
										display: block;
										width: 100%;
										padding: 0.25em 0;
										text-align: center;
										vertical-align: middle;
										color: $green;
										border: solid 1px $green;
									}
								}
							}
						}
					}
				}
			}
		}
	}

	@include pcsize{
		.max-width{
			.orders{
				padding: calculateRem(30px) 10%;
				nav{
					li{					
						width: auto;
						height: calculateRem(30px);
						padding: 0 calculateRem(10px);
						+li{
							margin-top: 0.5rem;
						}
						a{
							display: block;
							@include floatclear();
							i, span{
								float: left;
							}
						}
					}
				}

				.tab-pane{
					h1{
						@include font-size(16px);
					}

					.buyer{
						position: relative;
						.buyer_header{
							position: absolute;
							top: 0;
							left: 0;
							width: 20%;
							height: 100%;
							@include font-size(16px);
							a{
								display: block;
								margin-left: 0;
								margin-top: 0.5em;
								@include font-size(14px);
							}
						}
						.buyer_main{
							width: 80%;
							margin-left: 20%;
							.receiver{
								position: relative;
								.receiver_header{
									position: absolute;
									top: 0;
									left: 0;
									width: 50%;
									height: 100%;
									border-bottom: none;
									.receiver_info{
										.name{
										}
									}
									.receiver_num{
										border-right: solid 1px rgba($gray, .5);
									}
								}
								.receiver_main{
									margin-left: 50%;
									width: 50%;
									.receiver_info{
										padding: 1em;
										padding-bottom: 0.5em;
										@include font-size(12px);
										.info{
											@include floatclear();
											+.info{
												margin-top: 1em;
											}
											.title{
												width: 4em;
												float: left;
												color: rgba($gray, .5);
												transform-origin: 0 50%;
												@include transform(scale(0.7));
											}
											.content{
												width: calc(100% - 4em - 0.01px);
												float: right;
												.gray{
													color: $gray;
												}
												.green{
													color: $green;
												}
												.red{
													color: $red;
												}
												button{
													margin-top: 0.5em;
													color: $red;
													border: solid 1px $red;
													padding: 0.25em 0;
													width: 100%;
												}
											}
										}
									}
									.receiver_action{
										padding: 1em;
										padding-top: 0.5em;
										button{
											display: block;
											width: 100%;
											padding: 0.25em 0;
											text-align: center;
											vertical-align: middle;
											color: $green;
											border: solid 1px $green;
										}
									}
								}
							}
						}
					}
				}
			}
		}

	}
}