@import "function";

$pc_width: 769;
$mobile_width: 320;

@for $i from 300 through 815{
    @if $i%5 == 0{
        @if $i <= 768{
            @media only screen and (min-width: #{$i}px) {
                html, body{
                    font-size: ((16px / $mobile_width) * $i);
                }
            }
        }@else{
            @media only screen and (min-width: #{$i}px) {
                html{
                    font-size: ((16px / $pc_width) * $i);
                }
            }
        }
    }

    @if $i == 768{
    	@media only screen and (min-width: #{$i}px) {
    	    html, body{
    	        font-size: ((16px / $mobile_width) * $i);
    	    }
    	}
    }

    @if $i == 769{
    	@media only screen and (min-width: #{$i}px) {
    	    html, body{
    	        font-size: ((16px / $pc_width) * $i);
    	    }
    	}
    }
}

body{
	font-family: 'YuGothic', 'Yu Gothic', 'Hiragino Kaku Gothic Pro', 'Meiryo', 'Helvetica', 'Arial', 'Noto Sans CJK TC', 'Noto Sans CJK', 'Heiti TC', 'Microsoft YaHei', 'Microsoft JhengHei', sans-serif;
	background-color: #96b6a6;
	color: #ffffff;
	letter-spacing: 1px;
	input, button{
		padding: 0;
		outline: none;
	}
	select{
	    @include appearance-none;
	    border: none;
	    background: transparent;
	    outline: none;
	    &::-ms-expand {
	        display: none;
	    }
	}
}

@import "index";
@import "order";